<!--
   這邊是父層html，在這邊建構大方向的畫面column
   並且配合子層Component中的selector作為標籤，顯示子層html
   搭配input、output達成子父層傳遞參數
   (NoteListEmit)="getNoteList($event)"  => 子層NoteListEmit(output)傳給父層，父層用getNoteList()接參數
   [NoteList]="NoteList" => 子層NoteList(input)(左邊的NoteList)接收父層變數(右邊的NoteList)
-->
<div class="row">
  <app-sidebar
    class="col-2"
    (NoteListEmit)="getNoteList($event)"
    [NoteList]="NoteList"
  ></app-sidebar>
  <app-content
    class="col-10"
    (NoteListEmit)="getNoteList($event)"
    [NoteList]="NoteList"
  ></app-content>
</div>
